.landing-page {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: calc(100vh - 100px);
    text-align: center;
    background-color: #fff;
    color: 1c1c1c;
}

.welcome-div {
    margin-bottom: 10rem;
}

.welcome-header {
    font-size: 2rem;
    margin: 0rem 2rem 2rem 2rem;
    max-width: 40rem;
    line-height: 1.24em;
}

.welcome-message {
    max-width: 45rem;
    font-size: 1.2rem;
    line-height: 1.5em;
    margin-bottom: 5rem;
}
  
.get-started-btn {
    background-color: #80BC00;
    border: none;
    color: white;
    padding: 0.5rem 1rem;
    font-size: 1.3rem;
    cursor: pointer;
    transition: background-color 0.2s ease;
    border-radius: 8px;
    min-width: 300px;
    min-height: 45px;
    margin-bottom: 5rem;
}
  
.get-started-btn:hover {
    background-color: #3490ce;
}

.mobile-company-info {
    display: flex;
    align-items: center;
    margin-bottom: 1rem;
}
  
.mobile-company-info img {
    height: 40px;
    margin: 1rem;
}
  
.mobile-company-info .company-name {
    font-size: 1.25rem;
}

.fade-enter {
    opacity: 0;
}
  
.fade-enter-active {
    opacity: 1;
    transition: opacity 500ms;
}
  
.fade-exit {
    opacity: 1;
    overflow: hidden;
    position: absolute;
}
  
.fade-exit-active {
    opacity: 0;
    transition: opacity 500ms;
}
  
  
@media (min-width: 768px) {
    .mobile-company-info {
        display: none;
    }
    .welcome-header {
        font-size: 2rem;
    }
}